body 
{
     background-color: #fffef5;
}
table.note {

     border: 1px;
     border-color: #000000;
}
td.date {
     font-size: 8px;
     color: #333333;
}

div.noteEven
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #e8f6f1;
     border: solid 1px #89be9e;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
     float: left;
     margin: 10px;
     width: 40%;
}

div.noteOdd
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #f0f7fb;
     border: solid 1px #3498db;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 5px 15px;
     float: left;
     margin: 10px;
     width: 40%;
}
div.note
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #fefce9;
     border: solid 1px #ecc91b;
     border-radius: 6px;
     /* line-height: 18px; */
     /* overflow: hidden; */
     padding: 5px 15px;
     width: 100px;
}

input.input
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #e8f6f1;
     border: solid 1px #89be9e;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
}

textarea
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #fefce9;
     border: solid 1px #ecc91b;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
}